* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: rgba(245, 245, 245, 0.887);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 30px 0 30px;
}

.navbar {
    display: flex;
    gap: 30px;
}

a {
    text-decoration: none;
    color: #3b3e45;
    font-weight: bold;
    font-size: 19px;
    transition: all ease 0.4s;
}

.blue {
    color: rgba(41, 41, 229, 0.959);
}

a:hover {
    color: rgba(41, 41, 229, 0.959);
}

.logo {
    font-size: 18px;
    color: #3b3e45;
    font-weight: bold;
}

.nav-icon {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-top: 2px;
}

.about-self {
    display: flex;
    justify-content: space-between;
    margin: 110px 40px 0 40px;
}

.name {
    font-size: 24px;
    font-weight: lighter;
    color: #3b3e45;
}

.main-heading {
    font-size: 75px;
    font-weight: bolder;
    color: #3b3e45;
}

.break::before {
    content: "\A";
    /* new line */
    white-space: pre;
    /* line break create karo */
}

span {
    color: rgba(41, 41, 229, 0.959);
}
.break{
    color: #24262f  ;
}

p {
    font-size: 22px;
    color: grey;
    margin-top: 20px;
}

.btn-1 {
    padding: 10px 15px;
    border-radius: 7px;
    background-color: rgba(41, 41, 229, 0.959);
    color: white;
    border: none;
    font-weight: bold;
}

.btn-2 {
    padding: 10px 15px;
    border-radius: 7px;
    margin-top: 20px;
    color:white;
    margin-left: 10px;
    background-color: black;
    transition: all ease-in 0.6;
    border: none;
}

.img-circle {
    height: 370px;
    width: 370px;
    border-radius: 50%;
    border: 1px solid rgb(174, 162, 162);
    display: flex;
    justify-content: center;
    align-items: center;
}

.self-img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-image: url(office-img1.jpg);
    background-position: center;
    background-size: cover;
}


.menu-icon {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 20px;
}

.menu-icon span {
    display: block;
    width: 28px;
    /* thoda lamba */
    height: 3px;
    /* line ki motai */
    background: #3b3e45;
    border-radius: 2px;
    margin: 4px 0;
    /* yahan se proper gap aayega */
}
.project-heading{
    font-size: 50px;
    margin-top: 120px;
    margin-left: 50px;
    color: #24262f;
}
.project-image{
    height: 280px;
    width: 450px;
    background-image: url(dashboard.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}
.project-image-2{
    height: 280px;
    width: 650px;
    background-image: url(laptop.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 20px;

}
.project-image-3{
     height: 280px;
    width: 650px;
    background-image: url(project-2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 20px;

}
.project-image-4{
    height: 280px;
    width: 450px;
    background-image: url(project1.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}
.project-scetion {
    margin-top: 30px;
  display: flex;
  justify-content: center; /* center me dono project */
  gap: 40px;               /* dono ke beech space */
  width: 100%;

}

.project-p{
    font-size: 17px;
    margin-top: 30px;
}
.ecocart,
.taskflow{
    position: relative;
    top: 20px;
    color: #24262f;
}
.fa-arrow-up-right-from-square{
    color: rgba(41, 41, 229, 0.959);
}
.experience{
    display: flex;
    gap: 190px;
    margin-left: 60px;
    margin-top: 30px;
}

.tag{
    font-size: 13px;
    margin-bottom: 35px;
}
.para-sec{
    font-size: 17px;

}
.fa-check{
    margin-right: 20px;
}
.enginer-p{
     color: black;
}
.exp-links-active{
    color: rgba(41, 41, 229, 0.959);
}
.experience-catagory {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-left: 20px;         
    border-left: 2px solid  rgba(41, 41, 229, 0.959); 
}

.experience-heading{
    font-size: 53px;
    font-weight: bolder;
    margin: 120px 0 0 43px;
    color: #24262f;
}

@media (max-width: 425px) {
    .menu-icon {
        display: block;
    }

    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        margin-bottom: 40px;
        position: relative;
        right: 15px;
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 25px;
        right: 20px;
    }

    .navbar {
        flex-direction: column;
        gap: 15px;
        margin-top: 15px;
        margin-left: 10px;

        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transform: translateY(-10px);
        transition: all 0.7s ease;
    }

    .navbar.show {
        max-height: 300px;
        opacity: 1;
        transform: translateY(0);
    }

    .nav-icon {
        display: none;
    }

    .about-self {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 30px 0px 0 15px;

    }

    .main-heading {
        font-size: 40px;
        white-space: nowrap;
        margin-top: 5px;
    }
    .img-circle{
        height: 270px;
        width: 270px;
        margin-top: 60px;
    }
    .self-img{
        height: 230px;
        width: 230px;
    }
    p{
        font-size: 15px;
    }
    .project-scetion{
        display: flex;
        flex-direction: column;

        
    }
    .project-image,
    .project-image-2,
    .project-image-3,
    .project-image-4{
        width: 90%;
        margin-left: 18px;
        
    }
    .project-p,
    .taskflow,
    .ecocart{
        margin-left: 18px;
    }
    .project-p{
        max-width: 320px;
    }
    .experience-catagory{
        display: none;
    }
    .experience-heading{
        font-size: 35px;
        position: relative;
        right: 27px;
        font-weight: bolder;
    }
    .subject{
        margin-right: 65px;
        max-width: 250px;
    }
    .para-sec{
        display: -webkit-box;
    -webkit-line-clamp: 4;   /* chhoti screen par 4 lines force */
    -webkit-box-orient: vertical;
    overflow: hidden;

    }
    .enginer-p{
        font-size: 25px;
        position: relative;
        right: 40px;
    }
    .tag{
        position: relative;
        right: 39px;
    }


    
}
    