* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: rgba(245, 245, 245, 0.887);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 30px 0 30px;
}

.navbar {
    display: flex;
    gap: 30px;
}

a {
    text-decoration: none;
    color: #3b3e45;
    font-weight: bold;
    font-size: 19px;
    transition: all ease 0.4s;
}

.blue {
    color: rgba(41, 41, 229, 0.959);
}

a:hover {
    color: rgba(41, 41, 229, 0.959);
}

.logo {
    font-size: 18px;
    color: #3b3e45;
    font-weight: bold;
}

.nav-icon {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-top: 2px;
}

.about-self {
    display: flex;
    justify-content: space-between;
    margin: 110px 40px 0 40px;
}

.name {
    font-size: 24px;
    font-weight: lighter;
    color: #3b3e45;
}

.main-heading {
    font-size: 75px;
    font-weight: 900;
    color: #3b3e45;
}

.break::before {
    content: "\A";
    /* new line */
    white-space: pre;
    /* line break create karo */
}

span {
    color: rgba(41, 41, 229, 0.959);
}
.break{
    color: #24262f  ;
}

p {
    font-size: 22px;
    color: grey;
    margin-top: 20px;
}

.btn-1 {
    padding: 10px 15px;
    border-radius: 7px;
    background-color: rgba(41, 41, 229, 0.959);
    color: white;
    border: none;
    font-weight: bold;
}

.btn-2 {
    padding: 10px 15px;
    border-radius: 7px;
    margin-top: 20px;
    color:white;
    margin-left: 10px;
    background-color: black;
    transition: all ease-in 0.6;
    border: none;
}

.img-circle {
    height: 370px;
    width: 370px;
    border-radius: 50%;
    border: 1px solid rgb(174, 162, 162);
    display: flex;
    justify-content: center;
    align-items: center;
}

.self-img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-image: url(office-img1.jpg);
    background-position: center;
    background-size: cover;
}


.menu-icon {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 20px;
}

.menu-icon span {
    display: block;
    width: 28px;
    /* thoda lamba */
    height: 3px;
    /* line ki motai */
    background: #3b3e45;
    border-radius: 2px;
    margin: 4px 0;
    /* yahan se proper gap aayega */
}
.project-heading{
    font-size: 50px;
    margin-top: 120px;
    margin-left: 50px;
    color: #24262f;
    font-weight: 900;
}
.project-image{
    height: 280px;
    width: 450px;
    background-image: url(dashboard.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}
.project-image-2{
    height: 280px;
    width: 650px;
    background-image: url(laptop.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 20px;

}
.project-image-3{
     height: 280px;
    width: 650px;
    background-image: url(project-2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 20px;

}
.project-image-4{
    height: 280px;
    width: 450px;
    background-image: url(project1.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}
.project-scetion {
    margin-top: 30px;
  display: flex;
  justify-content: center; /* center me dono project */
  gap: 40px;               /* dono ke beech space */
  width: 100%;

}

.project-p{
    font-size: 17px;
    margin-top: 30px;
}
.ecocart,
.taskflow{
    position: relative;
    top: 20px;
    color: #24262f;
}
.fa-arrow-up-right-from-square{
    color: rgba(41, 41, 229, 0.959);
}
.experience{
    display: flex;
    gap: 190px;
    margin-left: 60px;
    margin-top: 30px;
}

.tag{
    font-size: 13px;
    margin-bottom: 35px;
}
.para-sec{
    font-size: 17px;

}
.fa-check{
    margin-right: 20px;
}
.enginer-p{
     color: black;
}
.exp-links-active{
    color: rgba(41, 41, 229, 0.959);
}
.experience-catagory {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-left: 20px;         
    border-left: 2px solid  rgba(41, 41, 229, 0.959); 
}

.experience-heading{
    font-size: 53px;
    font-weight: 900;
    margin: 120px 0 0 43px;
    color: #24262f;
}
.my-skill{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin: 0 110px 0 40px;
    flex-wrap: wrap;
}
.skill-p{
    font-size: 17px;
    color: rgb(51, 48, 48);
}
.skill-heading-main{
   margin: 120px 0 0 38px;
   font-size: 60px;
   color: #24262f;
}
.skill{
    line-height: 8px;
}
.skill-heading-main{
    font-weight: 900;
}
.skill-heading{
    font-weight: 900;
    font-size: 22px;
    color: #24262f;
    margin-bottom: 50px;
    margin-top: 40px;
}
.story{
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 40px;
}
.story-para{
    font-size: 18px;
}
.last-heading{
    font-size: 50px;
    font-weight: 800;
    color: #24262f;
    margin: 150px 0 0 70px;
}
footer{
    display: flex;
    justify-content: space-between;
    margin: 120px 50px 0 70px;
}
.footer-lins{
    display: flex;
    gap: 30px;
}
.footer-links-active{
    color: rgba(41, 41, 229, 0.959);
}
.footer-heading{
    margin-top: 55px;
    color: #24262f;
}
.footer-btn{
    padding: 8px 18px;
    border: none;
    border-radius: 7px;
    background-color: rgba(41, 41, 229, 0.959);
    color: white;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.footer-btn-2{
    padding: 8px 18px;
    border: none;
    border-radius: 7px;
    background-color: black;
    color: white;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 10px;

}
.icon{
    display: flex;
    gap: 30px;
    position: relative;
    font-size: 20px;
    transition: all ease-in 0.9s;
    cursor: pointer;
    color: #24262f;
}
.fa-instagram:hover,
.fa-inbox:hover,
.fa-cat:hover,
.fa-globe:hover{
    color: rgba(41, 41, 229, 0.959);
}

.copyright-p,
.copyright-p-2{
    font-size: 18px;
    position: relative;
    top: 50px;
}
.hero {
  margin: 120px 30px 0 30px;
}
.hero-heading {
  font-size: 70px;
  color: #24262f;
  font-weight: 900;
}
.hero-p {
  font-size: 18px;
  line-height: 1.4;
}

.sticky-gallery {
  position: relative;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.img-project {
  width: 100%;
  
  height: 360px;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}

.foodie {
  font-size: 50px;
  margin: 20px 0 10px 0;
  font-weight: 900;
  color: #24262f;
}

.foodie-p {
  margin: 0 0 20px 0;
  font-size: 18px;
  line-height: 1.4;
  color: #24262f;
}
.about-page{
    margin: 140px 0px 0px 50px;
}
.about-heading{
    font-size: 70px;
    font-weight: 900;
    color: #24262f;
}
.next-p{
    margin-left: 30px;
}
.next-p {
  border-left: 9px solid #007bff;
  padding-left: 10px;             
  margin: 10px 0;                
  line-height: 1.5;              
  color: #24262f;                
}
.img-flow{
    height: 250px;
    width: 400px;
    background-image: url(full-stack.png);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-top: 20px;
}
.img-flow-2{
    height: 250px;
    width: 700px;
    background-image: url(worldmap.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-top: 20px;
}
.flow-heading{
    color: #24262f;
    font-size: 25px;
}
.about-hero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 70px;
}
body {
  margin: 0;
  font-family: sans-serif;
}

.timeline {
  width: 100%;
  padding-left: 40px; /* left side ka margin */
  margin-top: 70px;
}

.timeline h2 {
  font-size: 2.5rem; /* heading thodi badi */
  margin-bottom: 50px;
}
h2{
    color: #24262f;
    font-size: 40px;
    font-weight: 800;
}

.timeline-item {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 100px;
}

.number-container {
  position: relative;
  width: 60px;
  flex-shrink: 0;
}

.number {
  font-size: 3.5rem; /* number size bara */
  font-weight: bold;
  color: #24262f;
}

.vertical-line {
  position: absolute;
  top: 50px; /* number ke neeche */
  left: 50%;
  transform: translateX(-50%);
  width: 3px;
  height: 0;
  background-color: purple;
  transition: height 0.5s ease-out;
}

.content {
  flex: 1;
}

.content h4 {
  margin: 0 0 10px;
  font-size: 1.3rem;

}

.content p {
  margin: 0;
  color: #555;
}
h4{
    color: #24262f;
    font-size: 2.8rem;
}

@media (max-width: 425px) {
    .menu-icon {
        display: block;
    }

    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        margin-bottom: 40px;
        position: relative;
        right: 15px;
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 25px;
        right: 20px;
    }

    .navbar {
        flex-direction: column;
        gap: 15px;
        margin-top: 15px;
        margin-left: 10px;

        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transform: translateY(-10px);
        transition: all 0.7s ease;
    }

    .navbar.show {
        max-height: 300px;
        opacity: 1;
        transform: translateY(0);
    }

    .nav-icon {
        display: none;
    }

    .about-self {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 30px 0px 0 15px;

    }

    .main-heading {
        font-size: 40px;
        white-space: nowrap;
        margin-top: 5px;
    }
    .img-circle{
        height: 270px;
        width: 270px;
        margin-top: 60px;
    }
    .self-img{
        height: 230px;
        width: 230px;
    }
    p{
        font-size: 15px;
    }
    .project-scetion{
        display: flex;
        flex-direction: column;

        
    }
    .project-image,
    .project-image-2,
    .project-image-3,
    .project-image-4{
        width: 90%;
        margin-left: 18px;
        
    }
    .project-p,
    .taskflow,
    .ecocart{
        margin-left: 18px;
    }
    .project-heading{
        font-weight: 700;
       position: relative;
       right: 25px
    }
    .project-p{
        max-width: 320px;
    }
    .experience-catagory{
        display: none;
    }
    .experience-heading{
        font-size: 35px;
        position: relative;
        right: 27px;
        font-weight: bolder;
    }
    .subject{
        margin-right: 65px;
        max-width: 250px;
    }
    .para-sec{
        display: -webkit-box;
    -webkit-line-clamp: 4;   /* chhoti screen par 4 lines force */
    -webkit-box-orient: vertical;
    overflow: hidden;

    }
    .enginer-p{
        font-size: 25px;
        position: relative;
        right: 40px;
    }
    .tag{
        position: relative;
        right: 39px;
    }
    .my-skill{
        flex-direction: column;
        display: flex;
        align-items: flex-start;
        position: relative;
        right: 20px;
    }
    .skill-heading-main{
        position: relative;
        right: 20px;
        font-weight: 600;
        font-size: 45px;
    }
    .skill-heading{
        font-weight: 600;
    }
    .story{
        text-align: left;
        line-height: 25px;
        max-width: 350px;
        margin-left: 20px;
    }
    .last-heading{
        position: relative;
        right: 50px;
        font-size: 40px;
        font-weight: 800;
    }
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-lins{
        display: flex;
        gap: 20px;
        align-items: center;
        margin-right: 20px;
    }
    .icon{
        position: relative;
        right: 45px;
       
    }
    .copyright-p,
    .copyright-p-2{
        position: relative;
        right: 40px

    }
    .hero-heading{
        font-size: 50px;
        line-height: 50px;
    }
    .hero{
        position: relative;
        bottom: 50px;
        right: 15px;
    }
    .hero-p{
        max-width: 350px; 
    }
    .img-project {
    height: 200px;
  }
  .foodie {
    font-size: 28px;
    margin: 15px 0 8px 0;
  }
  .foodie-p {
    font-size: 14px;
    margin-bottom: 15px;
  }
  .panel {
    padding: 15px;
  }
  .about-hero{
    display: flex;
    flex-direction: column;
  }
  .img-flow,
  .img-flow-2{
    width: 330px;
  }
  .about-page{
    margin-right: 50px;
  }
  .about-heading{
    font-size: 47px;
  }
  .timeline{
    margin-right: 70px;
  }


    
}
    